@{
    ViewData["Title"] = "Edit client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="home-firstdiv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Clients</a></li>
                    <li class="breadcrumb-item"><a asp-action="SecretsConfirmed" asp-route-id="@ViewContext.RouteData.Values["Id"]">Edit client</a></li>
                    <li class="breadcrumb-item active">Change Id and Password</li>
                </ol>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col">
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Warning</h4>
                            <p>By changing the Client Id and Password, all clients must be updated accordingly.</p>
                            <hr>
                            <p class="mb-0">Are you sure you want to make this change?</p>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@ViewContext.RouteData.Values["Id"]" role="button">Cancel</a>
                            <a class="btn btn-link" asp-action="SecretsConfirmed" asp-route-id="@ViewContext.RouteData.Values["Id"]" role="button">Yes, I am sure</a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



