@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div id="home-firstdiv">
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-default btn-control-panel" href="/Endpoints">
                    <img src="/img/cloud.svg" alt="Endpoints"><br />Endpoints
                </a>
                <a class="btn btn-default btn-control-panel" href="/Clients">
                    <img src="/img/people.svg" alt="Clients"><br />Clients
                </a>
                <a class="btn btn-default btn-control-panel" href="/Credentials">
                    <img src="/img/badge.svg" alt="Clients"><br />Credentials
                </a>
            </div>
        </div>
    </div>
</div>
